@media (max-width: 480px)
	section
		padding-top: 50px !important
		padding-bottom: 50px !important

	.header
		min-height: 600px

	div.header-composition
		padding-top: 0

	.site-title
		font-size: rem(45px)
		margin-bottom: 0

	.header-text
		line-height: 1.4
		p
			&:last-child
				margin-bottom: 20px

	/* intro-section */
	.intro-section
		.h2
			margin-bottom: 0

	/* featured-articles */
	.featured-articles
		.owl-theme .owl-nav
			.disabled
				display: block

			div.owl-prev
				left: 35%
				top: 100%
				margin-top: rem(5px)
			div.owl-next
				right: 35%
				top: 100%
				margin-top: rem(5px)

	/* client-section */
	.client-section
		.owl-theme .owl-nav
			.owl-next
				margin-top: 20px
			.owl-prev
				margin-top: 20px
		.h2
			margin-bottom: 45px

@media (max-width: 767px)
	.flex-container
		text-align: center

	.site-title
		&:after
			right: 50%
			margin-right: -68px

	.header-divider
		margin-left: auto
		margin-right: auto

	/* service-section */
	.service__item
		text-align: center
		max-width: 320px
		margin-left: auto
		margin-right: auto

	/* featured-articles */
	.owl-theme .owl-nav
		.owl-prev
			left: 0
		.owl-next
			right: 0

	/* client-section */
	.client-section
		.owl-theme .owl-nav
			.owl-next
				right: 0
				top: 50%
			.owl-prev
				left: 0
				top: 50%


@media (max-width: 991px)
	.header
		min-height: 768px

	.header-composition
		padding-top: 20%

@media (min-width: 992px) and (max-width: 1200px)
	.client-section
		.owl-theme .owl-nav
			.owl-next
				right: 0
			.owl-prev
				left: 0